In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
%%sql
CREATE TABLE Property (
    PropertyID INT PRIMARY KEY,
    Title VARCHAR(255),
    Location VARCHAR(255),
    Bathrooms INT,
    Price DECIMAL(10, 2),
    Subdivision VARCHAR(50)
);

 * sqlite:///Housing.db
Done.

[]

In [ ]:
%%sql
CREATE TABLE Subdivisions (
    Area_Subdivision_ID INT PRIMARY KEY,
    Area_Category VARCHAR(50)
);

 * sqlite:///Housing.db
Done.

[]

In [ ]:
%%sql
CREATE TABLE Location_attributes (
    LocationID INT PRIMARY KEY,
    LocationName VARCHAR(255),
    DistanceToCityCenter DECIMAL(10, 2)
);

 * sqlite:///Housing.db
Done.

[]

In [ ]:
%%sql
INSERT INTO Location_attributes(LocationID,LocationName,DistanceToCityCenter) VALUES
(1,'Flat_to_rent_in_Riverside',5 ),
(2,'Flat_to_rent_in_Muthaiga',6.4 ),
(3,'Flat_to_rent_in_Lavington',6),
(4,'Flat_to_rent_in_Kilimani',4.7),
(5,'Flat_to_rent_in_Kikuyu',18.6),
(6,'Flat_to_rent_in_Nyali',6.5 );

 * sqlite:///Housing.db
6 rows affected.

[]

In [ ]:
%%sql
INSERT INTO Subdivisions(Area_Subdivision_ID,Area_Category) VALUES
(01,'High Class Residency'),
(02,'High Class Residency'),
(03,'Upper Middle Class Residency'),
(04,'Upper Middle Class Residency'),
(05,'Lower Middle Class Residency'),
(06,'Lower Middle Class Residency');

 * sqlite:///Housing.db
6 rows affected.

[]

In [ ]:
%%sql
INSERT INTO Property(PropertyID,Title,Location,Bathrooms,Price,Subdivision) VALUES
(1,'3 Bedroom Apartment','Riverside_Nairobi',3,200000,'High Class Residency'),
(2,'3 Bedroom Apartment','Muthaiga_Nairobi',5,250000,'High Class Residency'),
(3,'3 Bedroom Apartment','Near Valley Arcade_Lavington',3,80000,'Upper Middle Class Residency'),
(4,'3 Bedroom Apartment','Kilimani_Nairobi',3,75000,'Upper Middle Class Residency'),
(5,'3 Bedroom Apartment','Kikuyu Town Bus park',3,55000,'Lower Middle Class Residency'),
(6,'3 Bedroom Apartment','Nyali, Mombasa',2,38000,'Lower Middle Class Residency');

 * sqlite:///Housing.db
6 rows affected.

[]

Analysis
1. Segmentation by Subdivision

In [ ]:
%%sql
SELECT Subdivision, COUNT(PropertyID) AS Property_Count
FROM Property
GROUP BY Subdivision;

 * sqlite:///Housing.db
Done.

[('High Class Residency', 2),
 ('Lower Middle Class Residency', 2),
 ('Upper Middle Class Residency', 2)]

2. Price Analysis by Subdivision:

In [ ]:
%%sql
SELECT Subdivision, AVG(Price) AS Avg_Price
FROM Property
GROUP BY Subdivision;

 * sqlite:///Housing.db
Done.

[('High Class Residency', 225000.0),
 ('Lower Middle Class Residency', 46500.0),
 ('Upper Middle Class Residency', 77500.0)]

3. Property Characteristics by Subdivision:

In [ ]:
%%sql
SELECT Subdivision, AVG(Bathrooms) AS Avg_Bathrooms
FROM Property
GROUP BY Subdivision;

 * sqlite:///Housing.db
Done.

[('High Class Residency', 4.0),
 ('Lower Middle Class Residency', 2.5),
 ('Upper Middle Class Residency', 3.0)]

4. Market Share by Subdivision:

In [ ]:
%%sql
SELECT Subdivision, COUNT(PropertyID) / (SELECT COUNT(PropertyID) FROM Property) AS Market_Share
FROM Property
GROUP BY Subdivision;

 * sqlite:///Housing.db
Done.

[('High Class Residency', 0),
 ('Lower Middle Class Residency', 0),
 ('Upper Middle Class Residency', 0)]

5. Location Analysis:

In [ ]:
%%sql
SELECT Subdivision, Location, COUNT(PropertyID) AS Property_Count
FROM Property
GROUP BY Subdivision, Location;

 * sqlite:///Housing.db
Done.

[('High Class Residency', 'Muthaiga_Nairobi', 1),
 ('High Class Residency', 'Riverside_Nairobi', 1),
 ('Lower Middle Class Residency', 'Kikuyu Town Bus park', 1),
 ('Lower Middle Class Residency', 'Nyali, Mombasa', 1),
 ('Upper Middle Class Residency', 'Kilimani_Nairobi', 1),
 ('Upper Middle Class Residency', 'Near Valley Arcade_Lavington', 1)]